<!DOCTYPE HTML>
<title>卧龙腾飞-人才招聘</title>
<style>
.xs{
  display: none;
    background:rgba(0,0,0,.5);
    overflow: hidden;
}
</style>
<block name="include">
    <include file="default:public/header"/>
</block>

<div class="fh5co-loader"></div>
<div>
    <block name="include">
        <include file="default:public/nav"/>
    </block>
</div>
<div class="clearfix">
  <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
        style="background-image:url(/Public/images/banner/rczp.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>卧龙腾飞人才招聘</h1>
                        <h2>施展你的才华，绽放你的青春。</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </header>
</div>
<div class="input-group" style="width: 80%;margin-left: 10%;">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 40px;margin-top: 10px;margin-bottom: 10px; background-color: #fdbd00;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span>搜索<span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="#">一带一路国际贸易</a></li>
          <li><a href="#">中铁多式联运</a></li>
          <li><a href="#">财务部</a></li>
          <li><a href="#">会务组</a></li>
          <li><a href="#">技术部</a></li>
        </ul>
      </div><!-- /btn-group -->
      <input type="text" class="form-control" aria-label="..." style="height: 40px;margin-top: 10px;margin-bottom: 10px;">
    </div><!-- /input-group -->  
</div>      
<div>
  <div id="myCarousel" class="carousel slide" style="height: 500px;margin-bottom: 20px;">
  <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
    </ol>   
  <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
      <div class="item active">
        <a href="#">
          <img src="/Public/images/door.jpg" alt="First slide" style="height: 500px;width:100%;">
        </a>
      </div>
      <div class="item">
        <img src="/Public/images/careers/hys.jpg" alt="Second slide" style="height: 500px;width:100%;">
        <div class="carousel-caption">会议室</div>
      </div>
      <div class="item">
        <img src="/Public/images/careers/swkfb.jpg" alt="Third slide" style="height: 500px; width: 100%;">
        <div class="carousel-caption">商务咖啡厅</div>
      </div>
      <div class="item">
        <img src="/Public/images/careers/sy3b.jpg" alt="Third slide" style="height: 500px; width: 100%;">
        <div class="carousel-caption">事业三部</div>
      </div>
      <div class="item">
        <img src="/Public/images/careers/zl.jpg" alt="Third slide" style="height: 500px;width:100%;">
        <div class="carousel-caption">走廊</div>
      </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>
<div class="job" style="width: 90%;margin-left: 5%;">
  <ul style="list-style-type:none">
    <li>
      <a href="">
        <div class="job-all">
          <div class="job-list">
            <h1>UI设计师</h1>
            <p>薪资:3500-4000/月</p>
            <p>主要职责和工作内容:<br>
            1、使用HTML/CSS/XML熟练地进行页面构建与维护；<br>
            2、熟练使用JS完成动画效果、交互效果的实现，对常用JS库有较为全面的了解；<br> 
            3、对页面代码进行优化，了解所有常用浏览器，利用自己的经验有效地解决浏览器兼容问题；<br> 
            4、配合后台开发人员实现产品界面和功能，与后台开发人员保持良好沟通，能快速理解、消化各方需求，并落实为具体的开发工作。 <br>
            5、配合上级提出的需求，作出相应修改；<br>  
            6、严格遵守团队的代码格式、结构的规定，编写易读、易维护、高质量、高效率的代码；<br>
            7、参与网站需求分析、流程设计，研讨技术实现方案 。</p>
            <p>能力要求:<br>
            1、了解w3c组织制定的web标准；<br>
            2、熟练使用photoshop, dreamweaver快速进行页面制作；<br>
            3、熟练使用JavaScript、精通jQuery及其他常用js库；<br>
            4、熟练使用bootstrap等响应式前端框架；<br>
            5、熟练使用CSS3+HTML5进行webapp开发；<br>
            6、了解并配合烛光使用svn进行代码版本控制。</p>
          </div>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="job-all">
          <div class="job-list">
            <h1>翻译</h1>
              <p>薪资:4000-9000元/月</p>
              <p>主要职责和工作内容:<br>
              1.依据项目需要进行相关合同、邮件的规划、翻译；<br>
              2.协同专业团队针对项目规划文档进行讨论、修改；<br>
              3.与国外供应商、品牌商直接进行商务谈判；<br> 
              4.流利的英文听说读写能力；专业的沟通技巧与沟通能力 ；<br>
              5.完成领导交代的其他临时性工作，能够上下协调工作相关事宜。</p>
              <p>能力要求：<br>
              1.对英语热爱，英语听说熟练，可进行商务谈判；<br>
              2.熟练的沟通技巧，可以做到与不同文化背景的客户进行高效且专业的沟通；<br> 
              3. 熟练的口语及翻译能力，可以按时完成相关项目文案翻译工作；<br>
              4. 善于处理突发事件，具备完善的相关技巧。</p>
            </div>
      </div>
      </a>
    </li>
    <li>   
      <a href="">
        <div class="job-all">
          <div class="job-list">
            <h1>外贸业务经理</h1>
              <p>薪资:4000-6000元/月</p>
              <p>主要职责和工作内容:<br>
              1、负责联系跟踪海外客户订单；<br>
              2、负责单证审核、报关、售后服务等工作；<br>
              3、负责海外客户的拓展和维护工作；<br>
              4、业务相关资料的整理和归档；<br>
              5、相关业务工作的汇报;<br>
              6、负责完成上级领导交办的其它工作。</p>
              <p>能力要求：<br>
              1、熟悉进出口业务的整个外贸流程；<br>
              2、具有较高的英语水平，较好的计算机操作水平；<br>
              3、具有良好的业务拓展能力和商务谈判技巧，具有较强的事业心、团队合作精神
              和独立处事能力，勇于开拓和创新；<br>
              4、国际贸易或商务英语相关专业优先考虑。<br></p>
            </div>
        </div>
      </a>
    </li>
    <li>
      <a href="">
        <div class="job-all">
          <div class="job-list">
            <h1>产品经理</h1>
              <p>薪资:3500-5000元/月</p>
              <p>主要职责和工作内容:<br>
              1、根据市场变化趋势，组合公司战略规划目标，制定产品开发计划、规划、策略与定位；<br>
              2、协助制订出业务管理流程；<br>
              3、产品测试验收及改进方案的制订；<br>
              4、协助企业和部门领导完成有关产品的其它工作；<br>
              5、对所负责的产品进行市场调研并进行分析，提出产品改进计划；<br>
              6、对产品市场有足够的把握，充分了解用户需求</p>
              <p>能力要求：<br>
              1、从事相关经验两年以上；<br>
              2、良好的学习能力、团队合作精神、分析判断能力、沟通协调能力，能适应无线互联网的工作压力<br>
              3、熟练掌握Excel/PPT/word/Visio/project/AXURE、RP等软件；<br>
              4、对交互设计、用户界面有研究<br></p>          
            </div>
        </div>
      </a>
    </li> 
  </ul>  
</div>
<div class="ds y" style="position: absolute;top: 0;left: 0;width: 100%;z-index: 9999;">
    <button class="glyphicon glyphicon-th-list anniu" style="padding: 5px;"></button>
    <div class="xs" id="fade" style="width: 80px;">
     <ul class="ej-nav" style="line-height: 30px;">
            <li>
                <a href="/index.php/home/index/index.html" style="color: #fff;">首页</a>
            </li>
            <li>
                <a href="/index.php/home/introduce/index.html" style="color: #fff;">集团介绍</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">公司产业</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="#">智能科技</a></li>
                  <li><a href="#">中医药基地</a></li>
                  <li><a href="#">兔尔宝娱乐</a></li>
                  <li><a href="#">尚惠商城</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/news/index.html" style="color: #fff;">新闻中心</a>
                <ul class="dropdown" aria-labelledby="dropdownMenuDivider" style="display: none;">
                    <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                    <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                    <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                    <hr/>
                    <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                </ul>
            </li>
           <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">企业文化</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                  <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                  <li><a href="{:U('home/company/video')}">企业视频</a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/careers/index.html" style="color: #fff;">人才招聘</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/partner/index.html" style="color: #fff;">合作单位</a>
                <ul class="dropdown"  style="min-width:250px;display: none;">
                    <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                    <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/call/call.html" style="color: #fff;">联系我们</a>
            </li>
        </ul>
  </div>
  </div>
<!-- Modernizr JS -->
<script src="/Public/js/modernizr-2.6.2.min.js"></script>
<!-- FOR IE9 below -->
<!--[if lt IE 9]>
<script src="/Public/js/respond.min.js"></script>
<![endif]-->

<!-- jQuery -->
<script src="/Public/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/Public/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/Public/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/Public/js/jquery.waypoints.min.js"></script>
<!-- Stellar Parallax -->
<script src="/Public/js/jquery.stellar.min.js"></script>
<!-- Carousel -->
<script src="/Public/js/owl.carousel.min.js"></script>
<!-- countTo -->
<script src="/Public/js/jquery.countTo.js"></script>
<!-- Magnific Popup -->
<script src="/Public/js/jquery.magnific-popup.min.js"></script>
<script src="/Public/js/magnific-popup-options.js"></script>
<!-- Main -->
<script src="/Public/js/main.js"></script>
<!-- style -->
<script src="/Public/js/style.js"></script>
<!-- download -->
<script src="/Public/js/velocity.js"></script>
<script src="/Public/js/shutter.js"></script>
  <script>
    var i=0;
    $(".anniu").click(function(){
      if(i === 0) {
        $("#fade").show(1000);
        i++;
      }else{
        $("#fade").hide(1000);
        i--;
      }
  })
</script>
<script>
    var oUl = $('.menu-1').children('ul'),
        aLi = oUl.children('li');
    aLi.eq(5).addClass('active').siblings().removeClass('active');
</script>
