<title>卧龙腾飞--新闻中心</title>
<!--head-->
<block name="include">
    <include file="default:public/header"/>
</block>
<link rel="stylesheet" type="text/css" href="/wltf/Public/css/news.css">
<body>
<!-- 顶部 -->
<block name="include">
    <include file="default:public/head"/>
</block>
<!--导航-->
<block name="include">
    <include file="default:public/nav"/>
</block>
<!-- 新闻 -->
<div class="main clearfix">
    <div class="row">
        <div class="col-xs-12">
            <div class="left col-md-8 col-xs-12">
                <div class="left_main col-xs-12">
                    <div class="photos col-md-5 col-xs-12">
                        <div class="swiper-container two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="list col-md-7">
                        <div class="left_top">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                          data-toggle="tab"><b>高层动态</b></a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                           data-toggle="tab"><b>项目进展</b></a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                                           data-toggle="tab"><b>贸易合作</b></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <ul>
                                        <li>
                                            <a href="#">中国和印尼举行副总理级对话机制第六次会议</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">汪洋同尼泊尔副总理加查达尔会谈</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">巴基斯坦总统、总理会见汪洋</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">东盟与中日韩（10+3）外长会在马尼拉举行</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">王毅会见俄罗斯外长拉夫罗夫</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">中国与东盟就进一步加强互联互通合作达成共识</a><span>2017-08</span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <ul>
                                        <li>
                                            <a href="#">雅万高铁EPC合同签署</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">熊波大使同洪森首相共同出席中国援柬国家体育场开...</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">邢海明大使出席雅尔玛格立交桥项目开工仪式</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">中国援助老挝升级改造国家电视台3频道</a><span>2017-03</span>
                                        </li>
                                        <li>
                                            <a href="#">2017年哈萨克斯坦南哈州将建成价值200万美元</a><span>2016-12</span>
                                        </li>
                                        <li>
                                            <a href="#">中白工业园招商工作专题会议在京召开</a><span>2016-12</span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <ul>
                                        <li>
                                            <a href="#">中国和印尼举行副总理级对话机制第六次会议</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">汪洋同尼泊尔副总理加查达尔会谈</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">巴基斯坦总统、总理会见汪洋</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">东盟与中日韩（10+3）外长会在马尼拉举行</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">王毅会见俄罗斯外长拉夫罗夫</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">中国与东盟就进一步加强互联互通合作达成共识</a><span>2017-08</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more hidden-xs hidden-sm">
                                <a href="#" title="更多咨询">...</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="left_main col-xs-12">
                    <div class="photos col-md-5 col-xs-12">
                        <div class="swiper-container two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="list col-md-7">
                        <div class="left_top">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#one" aria-controls="one" role="tab"
                                                                          data-toggle="tab"><b>金融合作</b></a></li>
                                <li role="presentation"><a href="#two" aria-controls="two" role="tab" data-toggle="tab"><b>文化交流</b></a>
                                </li>
                                <li role="presentation"><a href="three" aria-controls="three" role="tab"
                                                           data-toggle="tab"><b>贸易合作</b></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="one">
                                    <ul>
                                        <li>
                                            <a href="#">中国和印尼举行副总理级对话机制第六次会议</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">汪洋同尼泊尔副总理加查达尔会谈</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">巴基斯坦总统、总理会见汪洋</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">东盟与中日韩（10+3）外长会在马尼拉举行</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">王毅会见俄罗斯外长拉夫罗夫</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">中国与东盟就进一步加强互联互通合作达成共识</a><span>2017-08</span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="two">
                                    <ul>
                                        <li>
                                            <a href="#">雅万高铁EPC合同签署</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">熊波大使同洪森首相共同出席中国援柬国家体育场开...</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">邢海明大使出席雅尔玛格立交桥项目开工仪式</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">中国援助老挝升级改造国家电视台3频道</a><span>2017-03</span>
                                        </li>
                                        <li>
                                            <a href="#">2017年哈萨克斯坦南哈州将建成价值200万美元</a><span>2016-12</span>
                                        </li>
                                        <li>
                                            <a href="#">中白工业园招商工作专题会议在京召开</a><span>2016-12</span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="three">
                                    <ul>
                                        <li>
                                            <a href="#">中国和印尼举行副总理级对话机制第六次会议</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">汪洋同尼泊尔副总理加查达尔会谈</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">巴基斯坦总统、总理会见汪洋</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">东盟与中日韩（10+3）外长会在马尼拉举行</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">王毅会见俄罗斯外长拉夫罗夫</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">中国与东盟就进一步加强互联互通合作达成共识</a><span>2017-08</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more hidden-xs hidden-sm">
                                <a href="#" title="更多咨询">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="words col-md-4">
                <div class="words_top">
                    <p class="glyphicon glyphicon-star"></p>
                    <p>热点新闻</p>
                </div>
                <div class="row hotnews_text">
                    <div class="hotnews col-xs-12">
                        <div class="col-sm-5">
                            <a href="#">
                                <img src=http://www.bigdataobor.com/asset/images/news/100/3ec114109fd98f5e59c0a12476a7d0e1.jpg>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#">
                                习近平会见新加坡总理李显龙
                            </a>
                            <p>2017-07</p>
                        </div>
                    </div>
                    <div class="hotnews col-xs-12">
                        <div class="col-sm-5">
                            <a href="#">
                                <img src=http://www.bigdataobor.com/asset/images/news/100/3ec114109fd98f5e59c0a12476a7d0e1.jpg>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#">
                                习近平会见新加坡总理李显龙
                            </a>
                            <p>2017-07</p>
                        </div>
                    </div>
                    <div class="hotnews col-xs-12">
                        <div class="col-sm-5">
                            <a href="#">
                                <img src=http://www.bigdataobor.com/asset/images/news/100/3ec114109fd98f5e59c0a12476a7d0e1.jpg>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#">
                                习近平会见新加坡总理李显龙
                            </a>
                            <p>2017-07</p>
                        </div>
                    </div>
                    <div class="hotnews col-xs-12">
                        <div class="col-sm-5">
                            <a href="#">
                                <img src=http://www.bigdataobor.com/asset/images/news/100/3ec114109fd98f5e59c0a12476a7d0e1.jpg>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#">
                                习近平会见新加坡总理李显龙
                            </a>
                            <p>2017-07</p>
                        </div>
                    </div>
                    <div class="hotnews col-xs-12">
                        <div class="col-sm-5">
                            <a href="#">
                                <img src=http://www.bigdataobor.com/asset/images/news/100/3ec114109fd98f5e59c0a12476a7d0e1.jpg>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#">
                                习近平会见新加坡总理李显龙
                            </a>
                            <p>2017-07</p>
                        </div>
                    </div>
                    <div class="hotnews col-xs-12">
                        <div class="col-sm-5">
                            <a href="#">
                                <img src=http://www.bigdataobor.com/asset/images/news/100/3ec114109fd98f5e59c0a12476a7d0e1.jpg>
                            </a>
                        </div>
                        <div class="col-sm-7">
                            <a href="#">
                                习近平会见新加坡总理李显龙
                            </a>
                            <p>2017-07</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="row">
        <div class="col-xs-12">
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>新闻</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">高层动态</a>
                    </li>
                    <li>
                        <a href="#">项目进展</a>
                    </li>
                    <li>
                        <a href="#">贸易合作</a>
                    </li>
                    <li>
                        <a href="#">金融合作</a>
                    </li>
                    <li>
                        <a href="#">文化交流</a>
                    </li>
                </ul>
            </div>
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>政策</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">政策动态</a>
                    </li>
                    <li>
                        <a href="#">政策解读</a>
                    </li>
                    <li>
                        <a href="#">领导讲话</a>
                    </li>
                    <li>
                        <a href="#">国外战略</a>
                    </li>
                    <li>
                        <a href="#">国外政策</a>
                    </li>
                </ul>
            </div>
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>国别</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">东南亚</a>
                    </li>
                    <li>
                        <a href="#">南亚</a>
                    </li>
                    <li>
                        <a href="#">东亚</a>
                    </li>
                    <li>
                        <a href="#">中东欧</a>
                    </li>
                    <li>
                        <a href="#">俄罗斯</a>
                    </li>
                    <li>
                        <a href="#">西亚北菲</a>
                    </li>
                    <li>
                        <a href="#">中亚</a>
                    </li>
                </ul>
            </div>
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>数据</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">数据种类</a>
                    </li>
                    <li>
                        <a href="#">基础数据服务</a>
                    </li>
                    <li>
                        <a href="#">数据应用案例</a>
                    </li>
                </ul>
            </div>
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>服务</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">咨询服务</a>
                    </li>
                    <li>
                        <a href="#">金融服务</a>
                    </li>
                    <li>
                        <a href="#">语言服务</a>
                    </li>
                </ul>
            </div>
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>1+N合作</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">合作机制</a>
                    </li>
                    <li>
                        <a href="#">合作单位</a>
                    </li>
                </ul>
            </div>
            <div class="footer_content col-xs-4 col-md-1">
                <ul>
                    <li>
                        <a href="#">
                            <h4>关于我们</h4>
                        </a>
                    </li>
                    <li>
                        <a href="#">中心介绍</a>
                    </li>
                    <li>
                        <a href="#">中心动态</a>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                    </li>
                    <li>
                        <a href="#">高层动态</a>
                    </li>
                    <li>
                        <a href="#">高层动态</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="../js/jquery-1.12.2.min.js"></script>
<script type="text/javascript" src="../js/bootstrap.js"></script>
<script type="text/javascript" src="../js/swiper.jquery.min.js"></script>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>
