<!DOCTYPE HTML>
<title>卧龙腾飞-集团介绍</title>
<style type="text/css">
  .xs{
  display: none;
    background:rgba(0,0,0,.5);
    overflow: hidden;
}
</style>
<block name="include">
    <include file="default:public/header"/>
</block>

<div class="fh5co-loader"></div>
<div>
    <block name="include">
        <include file="default:public/nav"/>
    </block>
</div>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
        style="background-image:url(/wltf/Public/images/newsBcg.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>新闻中心</h1>
                        <h2>“关于新闻方面的标语”<a href="http://freehtml5.co" target="_blank">freehtml5.co</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
&nbsp;
<div>
    <div id="news" class="container panel panel-default" style=" position:relative;">
        <div class="col-md-3 news-title">
            <div class="list-group">
                <div class="list-group-item">目&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</div>
                <a href="javascript:;" class="list-group-item active">兔尔宝南阳招商会<span class="pull-right">7月1号</span></a>
                <a href="javascript:;" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="javascript:;" class="list-group-item">Morbi leo risus</a>
                <a href="javascript:;" class="list-group-item">Porta ac consectetur ac</a>
                <a href="javascript:;" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
        <div class="col-md-9 news-content" style="border-left: 1px solid #E8E8E8;height: 100%">
            <br>
            <h1 class="text-center">兔尔宝南阳招商会</h1>
            <img class="newsImg" src="/wltf/Public/images/tuerbaoNyZhh.jpg">
            <p>河南省南阳市，一个风景秀丽，文化底蕴深厚的城市，是南水北调中线工程的水源地，依托其丰富的旅游资源矿产资源以及优质的产品出口资源。河南省卧龙腾飞实业有限公司在2017年5月17日正式落户于南阳市卧龙跨境电子商务工业园。在精心筹备了将近两个月后，卧龙腾飞实业有限公司开业庆
                典在7月8日正式拉开了帷幕。</p>
            <p>当天下午，来自全国各地的嘉宾欢聚在别具特色的蒙古风情园，参加公司准备的答谢晚宴。宴会中卧龙腾飞实业有限公司总经理朱家龙上台致辞，向大家的远道而来表示衷心的感谢，并将公司的发展历程向大家做一一汇报。感谢一路走来政府领导卧龙跨境电子商务产业园毛总和宛商促进会惠会长的大力支持和肯定；感谢各位股东及家人的不离不弃；感谢李永洋李总带领我们一路前行。朱总表示：有了大家的支持，卧龙腾飞实业有限公司有信心走的更远，做得更大，飞得更高！宴会结束后，公司为各位朋友准备了马术表演和KTV无限欢唱，使大家在答谢宴后还可以参与
                丰富多彩的娱乐活动。</p>　
            <p>9日上午9:30分，在一片锣鼓喧天中，精彩的舞龙表演伴随着各位嘉宾的入场为卧龙腾飞的开业庆典拉开了序幕。庆典中，卧龙跨境电子商务产业园毛总、欧盟馆总经理丽娜女士及江苏兔尔宝文化有限公司总经理范总都亲临现场并做了重要讲话，共同见证卧龙腾飞实业有限公司的盛大开幕。会中卧龙腾飞实业有限公司执行董事长李永洋先生上台致辞，为各位合伙人阐明了今后的发展方向，使他们对卧龙腾飞的未来更加充满信心。李总还邀请了自己年迈的父亲上台，向他这么多年的养育之恩表示深深的感谢。李总的这一举动使台下各位股东肃然起敬。一个企业想要成功，必须要先学会做人，不管在什么时
                候我们都不能忘记父母的养育之恩</p>　
            <p>在庆典进行到10:38分时，主持人宣布庆典迎来了激动人心的时刻——“卧龙点睛”，只见李总手拿金笔，在两只金龙头上各点一笔，台下欢呼一片。接下来是股权证书授予仪式，李总邀请各位股东上台授予股权证书。拿到沉甸甸的股权证书，每位合伙人脸上都露
                出了自豪的笑容。</p>
            <p>11:30分庆典在礼炮齐鸣中结束，主持人宣布请各位宾客移步蒙古风情园共享午宴。午宴中，大家一边欣赏精彩的节目表演，一边举杯共饮，庆祝河南省卧龙腾飞实业有
                限公司开业庆典圆满落幕！</p>
            <div>

            </div>
        </div>
    </div>
</div>
<div class="ds y" style="position: absolute;top: 0;left: 0;width: 100%;z-index: 9999;">
    <button class="glyphicon glyphicon-th-list anniu" style="padding: 5px;"></button>
    <div class="xs" id="fade" style="width: 80px;">
     <ul class="ej-nav" style="line-height: 30px;">
            <li>
                <a href="/wltf/home/index/index.html" style="color: #fff;">首页</a>
            </li>
            <li>
                <a href="/wltf/home/introduce/index.html" style="color: #fff;">集团介绍</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">公司产业</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="#">智能科技</a></li>
                  <li><a href="#">中医药基地</a></li>
                  <li><a href="#">兔尔宝娱乐</a></li>
                  <li><a href="#">尚惠商城</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/news/index.html" style="color: #fff;">新闻中心</a>
                <ul class="dropdown" aria-labelledby="dropdownMenuDivider" style="display: none;">
                    <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                    <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                    <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                    <hr/>
                    <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                </ul>
            </li>
           <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">企业文化</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                  <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                  <li><a href="{:U('home/company/video')}">企业视频</a></li>
                </ul>
            </li>
            <li>
                <a href="/wltf/home/careers/index.html" style="color: #fff;">人才招聘</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/partner/index.html" style="color: #fff;">合作单位</a>
                <ul class="dropdown"  style="min-width:250px;display: none;">
                    <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                    <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/call/call.html" style="color: #fff;">联系我们</a>
            </li>
        </ul>
  </div>
  </div>
<block name="include"><include file="default:public/footer"/></block>

  <script>
    var i=0;
    $(".anniu").click(function(){
      if(i === 0) {
        $("#fade").show(1000);
        i++;
      }else{
        $("#fade").hide(1000);
        i--;
      }
  })
</script>
