p{
	font-size: 15px;

}

ul{
	padding-left: 0px;
}

.job li{
	background-color: #fdbd00;
	border-bottom: 2px solid #ddd;
	width: auto;
        padding-top: 5px;
}



.job a{
	color: black;
	text-decoration:none;
}

.job-all{	
	margin-top: 10px;
	width: 100%;
}

.job-list{
	margin-left: 40px;
	line-height: 40px;
}
