 .photolist ul{
	margin-top: 50px;
	text-align: center;
}

.photolist a{
  margin-bottom: 40px;
  text-decoration: none;
  color: red;
}

#content {
	margin: 50px auto;
	padding: 20px;
	background: #FFF;	
	border: 1px solid black;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: black;	
	margin-bottom: 20px;
	padding: 0;
}

.max{
	width: 500px;
	height: 500px;
}

