.news1 h3{
	margin: 0px;
	padding: 0px;
}

.news1 button{
  padding: 10px;
}

.news1 input{
	padding-top: 9px;
	padding-bottom: 9px;
}

.title{
	font-size: 15px;
}

.title li{
 line-height: 25px;
}

.more{
	float: right;
}

.news1 .active{
	float: right;
}