<nav class="fh5co-nav" role="navigation">
    <div class="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 text-right">
                    <p class="num">Call: 0377-66086800</p>
                </div>
            </div>
        </div>
    </div>
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-1">
                    <div id="fh5co-logo">
                      <a href="index.html">
                        <img src="/Public/images/emailLogo.png" style="width: 100px;height: 100px;">  
                      </a>
                    </div>
                </div>
                <div class="col-xs-10 text-right menu-1">
                    <ul>
                        <li class="active">
                          <a href="{:U('home/index/index')}">首页</a>
                        </li>
                        <li>
                          <a href="{:U('home/introduce/index')}">集团介绍</a>
                        </li>
                        <li class="has-dropdown">
                          <a href="{:U('home/industry/index')}">公司产业</a>
                            <ul class="dropdown">
                                <li><a href="#">智能科技</a></li>
                                <li><a href="#">中医药基地</a></li>
                                <li><a href="#">兔尔宝娱乐</a></li>
                                <li><a href="#">尚惠商城</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="{:U('home/news/index')}">新闻中心</a>
                            <ul class="dropdown" aria-labelledby="dropdownMenuDivider">
                                <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                                <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                                <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                                <hr/>
                                <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown">
                          <a href="{:U('home/company/index')}">企业文化</a>
                          <ul class="dropdown">
                            <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                            <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                            <li><a href="{:U('home/company/video')}">企业视频</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="{:U('home/careers/index')}">人才招聘</a>
                        </li>
                        <li class="has-dropdown">
                          <a href="{:U('home/partner/index')}">合作单位</a>
                            <ul class="dropdown"  style="min-width:250px">
                                <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                                <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                            </ul>
                        </li>
                        <li><a href="{:U('home/call/call')}">联系我们</a></li>

                        <!--<li class="btn-cta"><a href="#"><span>Login</span></a></li>-->
                        <li class="dropdown" id="dropDown">
                            <button class="btn btn-default dropdown-toggle bg-gray" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                Language <i class="icon-chevron-down"></i>
                            </button>
                            <ul  class="dropdown-menu bg-gray" id="change_dropdown" role="menu" aria-labelledby="dropdownMenu">
                                <li><a href="#">English</a></li>
                                <!--<li class="divider"></li>-->
                                <li><a href="#">Chinese</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>
