<!DOCTYPE HTML>
<title>卧龙腾飞-人才招聘</title>
<style type="text/css">
  .xs{
  display: none;
    background:rgba(0,0,0,.5);
    overflow: hidden;
}
</style>
<block name="include">
    <include file="default:public/header"/>
</block>

<div class="fh5co-loader"></div>
<div>
    <block name="include">
        <include file="default:public/nav"/>
    </block>
</div>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner"
        style="background-image:url(/Public/images/download_courseware.jpg);margin-bottom: px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="display-t">
                    <div class="display-tc animate-box" data-animate-effect="fadeIn">
                        <h1>卧龙腾飞课件下载</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="shutter">
  <div class="shutter-img">
    <a href="/wltf/Public/download/gsjs.doc" data-shutter-title="卧龙腾飞公司介绍" download=“gsjs.doc”>
      <img src="/Public/images/shutter_1.jpg" alt="#">
    </a>
    <a href="/wltf/Public/download/cypx.doc" data-shutter-title="雏鹰培训" download="cypx.doc">
      <img src="/Public/images/shutter_2.jpg" alt="#">
    </a>
    <a href="/wltf/Public/download/zlgh.pptx" data-shutter-title="卧龙腾飞战略规划简版" download="zlgh.pptx">
      <img src="/Public/images/shutter_3.jpg" alt="#">
    </a>
    <a href="#" data-shutter-title="The your">
      <img src="/Public/images/shutter_4.jpg" alt="#">
    </a>
  </div>
  <ul class="shutter-btn">
    <li class="prev"></li>
    <li class="next"></li>
  </ul>
  <div class="shutter-desc">
    <p>点击图片下载课件</p>
  </div>
</div>
<div class="paging">
  <table>
    <caption><h1>课件列表</h1></caption>
    <tr class="tr_active">
      <th>课件名称</th>
      <th>上传时间</th>
      <th>课件类型</th>
      <th>点击下载</th>
    </tr>
    <tr> 
      <th>一带一路战略简版</th>
      <th>2017.08.15</th>
      <th>ppt</th>
      <th>
         <a href="/Public/download/zlgh.pptx" data-shutter-title="下载" download="zlgh.pptx">下载
      </th>
    </tr>
    <tr> 
      <th>参观篇</th>
      <th>2017.08.15</th>
      <th>word</th>
      <th>
         <a href="/Public/download/cgp.doc" data-shutter-title="下载" download="cgp.pptx">下载
      </th>
    </tr>
    <tr> 
      <th>雏鹰培训</th>
      <th>2017.08.15</th>
      <th>word</th>
      <th>
         <a href="/Public/download/cypx.doc" data-shutter-title="下载" download="cypx.doc">下载
      </th>
    </tr>
    <tr> 
      <th>公司介绍</th>
      <th>2017.08.15</th>
      <th>ppt</th>
      <th>
         <a href="/Public/download/gsjs.doc" data-shutter-title="下载" download="gsjs.doc">下载
      </th>
    </tr>
    <tr> 
      <th>开业篇</th>
      <th>2017.08.15</th>
      <th>word</th>
      <th>
         <a href="/Public/download/ky.docx" data-shutter-title="下载" download="ky.docx">下载
      </th>
    </tr>
    <tr> 
      <th>晚宴篇</th>
      <th>2017.08.15</th>
      <th>word</th>
      <th>
         <a href="/Public/download/wy.doc" data-shutter-title="下载" download="wy.doc">下载
      </th>
    </tr>
  </table>
  <ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
</div>
<div class="ds y" style="position: absolute;top: 0;left: 0;width: 100%;z-index: 9999;">
    <button class="glyphicon glyphicon-th-list anniu" style="padding: 5px;"></button>
    <div class="xs" id="fade" style="width: 80px;">
     <ul class="ej-nav" style="line-height: 30px;">
            <li>
                <a href="/index.php/home/index/index.html" style="color: #fff;">首页</a>
            </li>
            <li>
                <a href="/index.php/home/introduce/index.html" style="color: #fff;">集团介绍</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">公司产业</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="#">智能科技</a></li>
                  <li><a href="#">中医药基地</a></li>
                  <li><a href="#">兔尔宝娱乐</a></li>
                  <li><a href="#">尚惠商城</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/news/index.html" style="color: #fff;">新闻中心</a>
                <ul class="dropdown" aria-labelledby="dropdownMenuDivider" style="display: none;">
                    <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                    <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                    <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                    <hr/>
                    <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                </ul>
            </li>
           <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">企业文化</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                  <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                  <li><a href="{:U('home/company/video')}">企业视频</a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/careers/index.html" style="color: #fff;">人才招聘</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/partner/index.html" style="color: #fff;">合作单位</a>
                <ul class="dropdown"  style="min-width:250px;display: none;">
                    <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                    <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/call/call.html" style="color: #fff;">联系我们</a>
            </li>
        </ul>
  </div>
  </div>
<block name="include"><include file="default:public/footer"/></block>

  <script>
    var i=0;
    $(".anniu").click(function(){
      if(i === 0) {
        $("#fade").show(1000);
        i++;
      }else{
        $("#fade").hide(1000);
        i--;
      }
  })
</script>
<script>
    var oUl = $('.menu-1').children('ul'),
        aLi = oUl.children('li');
    aLi.eq(4).addClass('active').siblings().removeClass('active');
</script>
<script>
    $(function () {
      $('.shutter').shutter({
        shutterW: 1000, // 容器宽度
        shutterH: 358, // 容器高度
        isAutoPlay: true, // 是否自动播放
        playInterval: 3000, // 自动播放时间
        curDisplay: 3, // 当前显示页
        fullPage: false // 是否全屏展示
      });
    });
  </script>