<title>卧龙腾飞--首页</title>
<!--head-->
<block name="include">
    <include file="default:public/header"/>
</block>
<body>
<!-- 顶部 -->
<block name="include">
    <include file="default:public/head"/>
</block>
<!--导航-->
<block name="include">
    <include file="default:public/nav"/>
</block>
<!--轮播图-->
<div class="swiper-container banner">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <a href="#">
                <img src="/wltf/Public/images/wltfbanner.png">
            </a>
        </div>
        <div class="swiper-slide">
            <a href="#">
                <img src="/wltf/Public/images/ydylbanner.png">
            </a>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>
<!-- 新闻 -->
<div class="main clearfix">
    <div class="row ">
        <div class="col-xs-12 ">
            <div class="left col-md-8 col-xs-12">
                <div class="left_main col-xs-12">
                    <div class="photos col-md-5 col-xs-12">
                        <div class="swiper-container two">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                                <div class="swiper-slide">
                                    <a href="#">
                                        <img src="http://www.bigdataobor.com/asset/images/news/5e39241db17581c2f533848bc9084706.jpg">
                                    </a>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                    <div class="list col-md-7">
                        <div class="left_top">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab"
                                                                          data-toggle="tab"><b>高层动态</b></a></li>
                                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab"
                                                           data-toggle="tab"><b>项目进展</b></a></li>
                                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab"
                                                           data-toggle="tab"><b>贸易合作</b></a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <ul>
                                        <li>
                                            <a href="#">中国和印尼举行副总理级对话机制第六次会议</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">汪洋同尼泊尔副总理加查达尔会谈</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">巴基斯坦总统、总理会见汪洋</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">东盟与中日韩（10+3）外长会在马尼拉举行</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">王毅会见俄罗斯外长拉夫罗夫</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">中国与东盟就进一步加强互联互通合作达成共识</a><span>2017-08</span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="profile">
                                    <ul>
                                        <li>
                                            <a href="#">雅万高铁EPC合同签署</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">熊波大使同洪森首相共同出席中国援柬国家体育场开...</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">邢海明大使出席雅尔玛格立交桥项目开工仪式</a><span>2017-04</span>
                                        </li>
                                        <li>
                                            <a href="#">中国援助老挝升级改造国家电视台3频道</a><span>2017-03</span>
                                        </li>
                                        <li>
                                            <a href="#">2017年哈萨克斯坦南哈州将建成价值200万美元</a><span>2016-12</span>
                                        </li>
                                        <li>
                                            <a href="#">中白工业园招商工作专题会议在京召开</a><span>2016-12</span>
                                        </li>
                                    </ul>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="messages">
                                    <ul>
                                        <li>
                                            <a href="#">中国和印尼举行副总理级对话机制第六次会议</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">汪洋同尼泊尔副总理加查达尔会谈</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">巴基斯坦总统、总理会见汪洋</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">东盟与中日韩（10+3）外长会在马尼拉举行</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">王毅会见俄罗斯外长拉夫罗夫</a><span>2017-08</span>
                                        </li>
                                        <li>
                                            <a href="#">中国与东盟就进一步加强互联互通合作达成共识</a><span>2017-08</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="more hidden-xs hidden-sm">
                                <a href="#" title="更多咨询">...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="words col-md-4">
                <div class="words_top">
                    <p class="glyphicon glyphicon-pencil"></p>
                    <p>一带一路热词</p>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="col-xs-4 col-xs-push-2">
                            <marquee behavior="scroll" direction="up" onmouseover="this.stop();"
                                     onmouseout="this.start();">
                                <ul>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                </ul>
                            </marquee>
                        </div>
                        <div class="col-xs-4 col-xs-push-3">
                            <marquee behavior="scroll" direction="up" onmouseover="this.stop();"
                                     onmouseout="this.start();">
                                <ul>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                    <li>
                                        <a href="#">标题一</a>
                                    </li>
                                </ul>
                            </marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 服务 -->
<div class="service_main clearfix">
    <div class="row">
        <div class="col-xs-12">
            <div class="consult col-md-3 col-xs-12">
                <div class="consult_top">
                    <p class="text">咨询服务</p>
                    <p class="glyphicon glyphicon-option-horizontal ddd"></p>
                </div>
                <div class="row yj">
                    <div class="col-xs-12">
                        <div class="col-md-6 col-md-push-2 col-xs-6">
                            <p>国别研究</p>
                        </div>
                        <div class="col-md-6 col-md-push-1 col-xs-6">
                            <p>国别研究</p>
                        </div>
                    </div>
                </div>
                <div class="row yj">
                    <div class="col-xs-12">
                        <div class="col-md-6 col-md-push-2 col-xs-6">
                            <p>国别研究</p>
                        </div>
                        <div class="col-md-6 col-md-push-1 col-xs-6">
                            <p>国别研究</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="consult col-md-4 col-xs-12 col-md-offset-1">
                <div class="consult_top">
                    <p class="text">咨询服务</p>
                    <p class="glyphicon glyphicon-option-horizontal ddd"></p>
                </div>
                <div class="row yj">
                    <div class="col-xs-12">
                        <div class="col-md-6 col-md-push-2 col-xs-6">
                            <p>国别研究</p>
                        </div>
                        <div class="col-md-6 col-md-push-1 col-xs-6">
                            <p>国别研究</p>
                        </div>
                    </div>
                </div>
                <div class="row yj">
                    <div class="col-xs-12">
                        <div class="col-md-6 col-md-push-2 col-xs-6">
                            <p>国别研究</p>
                        </div>
                        <div class="col-md-6 col-md-push-1 col-xs-6">
                            <p>国别研究</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="consult col-md-3 col-xs-12 col-md-offset-1">
                <div class="consult_top">
                    <p class="text">咨询服务</p>
                    <p class="glyphicon glyphicon-option-horizontal ddd"></p>
                </div>
                <div class="row yj">
                    <div class="col-xs-12">
                        <div class="col-md-6 col-md-push-2 col-xs-6">
                            <p>国别研究</p>
                        </div>
                        <div class="col-md-6 col-md-push-1 col-xs-6">
                            <p>国别研究</p>
                        </div>
                    </div>
                </div>
                <div class="row yj">
                    <div class="col-xs-12">
                        <div class="col-md-6 col-md-push-2 col-xs-6">
                            <p>国别研究</p>
                        </div>
                        <div class="col-md-6 col-md-push-1 col-xs-6">
                            <p>国别研究</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<block name="include">
    <include file="default:public/footer"/>
</block>
<script>
    var swiper = new Swiper('.swiper-container', {
        pagination: '.swiper-pagination',
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
        spaceBetween: 30,
        centeredSlides: true,
        autoplay: 2500,
        autoplayDisableOnInteraction: false
    });
</script>	
