<!DOCTYPE HTML>
<title>卧龙腾飞-集团介绍</title>
<style type="text/css">
  .xs{
  display: none;
    background:rgba(0,0,0,.5);
    overflow: hidden;
}
</style>
<block name="include">
    <include file="default:public/header"/>
</block>

<div class="fh5co-loader"></div>
<div>
    <block name="include">
        <include file="default:public/nav"/>
    </block>
</div>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm header_h" role="banner"
        style="background-image:url(/Public/images/banner/jtjs.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="display-t col-xs-12">
                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                    <h1 class="text-center">集团介绍</h1>
                    <h2 class="text-left text_i2"><span class="text_red">河南省卧龙腾飞实业有限公司</span>是一家服务型管理集团，是一个大的合作共赢体系，其核心在于经营的一带一路国际贸易服务中心，前期依靠兔尔宝娱乐布局全国市场，建立全国连锁运营雏形；公司授权合作企业江苏兔尔宝文化发展有限公司；目前以独立运营河南省一带一路国际贸易服务中心、卧龙腾飞装饰公司、中铁国际多式联运有限公司南阳授权服务机构；预准运营南阳市大学生实训基地、卧龙腾飞休闲旅游、卧龙腾飞中医药产业园、卧龙腾飞超市等。集团战略定位于国内生产销售企业资源整合，打通合作企业间的合作壁障，并积极布局海外战略，依托南阳跨境电商产业园和中国海关南阳综合保税区，旨在建立企业与国际客商的沟通桥梁。在企业发展的过程中得到了区域内领导的高度重视，在项目落地的进程中，给予了大力支持，使得河南省卧龙腾飞实业有限公司能够更稳的扎根南阳，服务社会，形成了一家集国际贸易、游戏娱乐、高新科技，健康产业、培训教育、休闲旅游、装饰设计、极速物流、商超商业综合体等九大产业为一体的综合性集团化公司。</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="fh5co-explore fh5co-explore1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-5 animate-box">
                <img class="img-responsive" src="/Public/images/gswz.jpg" alt="work">
            </div>
            <div class="col-md-4 col-md-pull-8 animate-box">
                <div class="mt">
                    <h3>公司位置</h3>
                    <p>
                     公司总部坐落于河南省西南部，南水北调中线工程水源地，风景秀丽、文化历史底蕴深厚的南阳市卧龙跨境电子商务产业园，紧邻国家级保税区。南阳素有五圣故里之称，科圣张衡、医圣张仲景、商圣范蠡、智圣诸葛亮、谋圣姜子牙；更有名相百里溪等历史名人。<br>
                     南阳为豫陕鄂区域性中心城市、河南省域次中心城市。豫西南政治、经济、文化、科教、交通、金融和商贸中心，城市规模位居河南第三。先后荣膺中国优秀旅游城市、中国月季之乡、首批国家新能源示范城市、中国十大最具创新力城市、中国最具幸福感城市等荣誉称号。2015年南阳入选中国新兴城市投资吸引力排行榜20强。2017年6月南阳市被命名国家卫生城市。<br>
                     历史造就了九朝古都，同样也养育了素质淳朴，胸怀天下的大南阳英才。在即将崛起的中部，未来也将孕育起一帮立足南阳，崛起于卧龙的卧龙腾飞人。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="fh5co-explore fh5co-explore1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-push-5 animate-box">
                <img class="img-responsive" src="/Public/images/qyll.jpg" alt="work">
            </div>
            <div class="col-md-4 col-md-pull-8 animate-box">
                <div class="mt">
                    <h3>企业力量</h3>
                    <p>
                     ①注册资金5000万<br>
                     ②与亚洲最大的律师事务所（盈科律师事务所）达成战略合作，提供法律支持<br>
                     ③与中国海关南阳综合保税区以及欧盟华人商会达成战略合作，打造全新的国际进出口产品中部集散中心<br>
                     ④与中铁国际多式联运达成战略合作，立足南阳服务全球的综合性多式联运跨境物流服务平台 <br>
                     ⑤企业合作的机构还有乌克兰服装协会，南阳宛商发展促进会，徽商联盟，湖北商会（楚商），温州商会等全国大型商会群体。<br>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="fh5co-explore" class="fh5co-bg-section">

    <div id="fh5co-steps">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>公司发展战略</h2>
                    <p>
                        帮助服务网点，提供创业零成本平台；
                        帮助生产企业，提高产品销量；
                        帮助实体商家，打造消费联盟，增加多渠道收益。
                    </p>
                </div>
            </div>

            <div class="row bs-wizard animate-box" style="border-bottom:0;">

                <div class="col-xs-2 bs-wizard-step complete">
                    <div class="text-center bs-wizard-stepnum"><h4>2017年5月</h4></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>兔尔宝项目</p></div>
                </div>

                <div class="col-xs-2 bs-wizard-step active"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><h4>2017年6月</h4></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>“一带一路”战略</p></div>
                </div>

                <div class="col-xs-2 bs-wizard-step disabled"><!-- complete -->
                    <div class="text-center bs-wizard-stepnum"><h4>2017年7月</h4></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>卧龙腾飞装饰公司</p></div>
                </div>

                <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum"><h4>2017年8月</h4></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>卧龙腾飞商学院</p></div>
                </div>

                <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum"><h4>2017年9月</h4></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>卧龙腾飞科技公司</p></div>
                </div>

                <div class="col-xs-2 bs-wizard-step disabled"><!-- active -->
                    <div class="text-center bs-wizard-stepnum"><h4>.。。。</h4></div>
                    <div class="progress"><div class="progress-bar"></div></div>
                    <a href="#" class="bs-wizard-dot"></a>
                    <div class="bs-wizard-info text-center"><p>。。。。</p></div>
                </div>
            </div>

        </div>
    </div>

    <div class="fh5co-explore fh5co-explore1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-push-5 animate-box">
                    <img class="img-responsive" src="/Public/images/work_1.png" alt="work">
                </div>
                <div class="col-md-4 col-md-pull-8 animate-box">
                    <div class="mt">
                        <h3>Right Now</h3>
                        <h3>现阶段</h3>
                        <p>现阶段，公司的主要业务以“兔尔宝”娱乐平台为主。
                            通过大数据的分析与推广，逐步建立尚惠到家生活超市、卧龙腾飞科技、卧龙腾飞旅游以及各个省市兔尔宝网点的建立。通过垂直化经营，实施纵向共享一体化，完善加盟商合作联盟，优化产业结构，从而达到为客户提供增值服务，实现全新的商业战略同盟。形成以豫西南为中心，建立全国物联网科技生态圈、医疗、教育、物流、信用金融合作的大型生态商业圈。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="project">
        <table class="table">
            <tr><th class="name">兔尔宝项目</th><th>Strategic Planning</th></tr>
            <tr><th class="empty"></th><td>2017年5月份，公司协同兔尔宝文化发展有限公司完成以湖北、、安徽、河南、为主的游戏推广加盟商合作体系，形成了强大的销售推广运营团队，并且健康的运行。2017年6月底前完成以北京、上海、江苏和深圳等发达省份的游戏推广加盟商加盟商合作体系。2017年7月将完成兔尔宝全部游戏加盟体系的搭建。</td></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>

            <tr><th class="name">“一带一路”项目</th><th>Strategic Planning</th></tr>
            <tr><th class="empty"></th><td> 2017年6月份公司在开展正常业务外，将筹备搭建以“一带一路”为核心的国家级发展战略结合保税区先天优势成立卧龙腾飞国际贸易公司。</td></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>

            <tr><th class="name">卧龙腾飞装饰项目</th><th>Strategic Planning</th></tr>
            <tr><th class="empty"></th><td>  2017年7月份前将筹备成立卧龙腾飞装饰公司，形成以卧龙腾飞旗下自营的卧龙腾飞装饰公司服务社会。</td></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>

            <tr><th class="name">卧龙腾飞商学院</th><th>Strategic Planning</th></tr>
            <tr><th class="empty"></th><td>   2017年8月将筹建启动卧龙腾飞商学院，针对政府每年输送的1000名大学生分批培训、实习使之理论与实际相结合，形成综合性人才，为企业培养优秀人才，针对不同专业和需求提供部分不同的就业岗位，缓解了政府就业压力。</td></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>

            <tr><th class="name">卧龙腾飞科技</th><th>Strategic Planning</th></tr>
            <tr><th class="empty"></th><td> 2017年9月份正式启动现有卧龙腾飞科技公司，完善扩大现有的高新技术科研团队，形成以智能消防科技为一体的，系统化规模化的高新科技研发，生产，销售，服务为一体的运营团队，努力向经济发达和资源集中的区域市场的拓展和延伸。</td></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>
            <tr><th class="empty"></th></tr>

            <tr><th class="name">卧龙腾飞科技</th><th>Strategic Planning</th></tr>
            <tr><th class="empty"></th><td> 2017年9月份正式启动现有卧龙腾飞科技公司，完善扩大现有的高新技术科研团队，形成以智能消防科技为一体的，系统化规模化的高新科技研发，生产，销售，服务为一体的运营团队，努力向经济发达和资源集中的区域市场的拓展和延伸。</td></tr>
        </table>
    </div>

</div>
<div id="fh5co-testimonial" class="fh5co-bg-section">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2>公司领导</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row animate-box">
						<div class="owl-carousel owl-carousel-fullwidth">
							<!-- 董事长 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-m.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司董事长&nbsp;<a href="JavaScript:;" class="twitter">毛新周</a></span>
									<blockquote>
										<p>中国卧龙跨境电子商务产业园副总经理、全国政协委员</p>
									</blockquote>
								</div>
							</div>
							<!-- 执行董事 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-l.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司执行董事&nbsp;<a href="JavaScript:;" class="twitter">李永洋</a></span>
									<blockquote>
										<p>市场营销资深管理人、爱农生活连锁超市董事长、<br/>武汉伟明蛋鸡养殖专业合作社理事长、江苏兔儿宝文化发展有限公司全国运营总监</p>
									</blockquote>
								</div>
							</div>
							<!-- 总经理 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-zz.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司总经理&nbsp;<a href="JavaScript:;" class="twitter">朱家龙</a></span>
									<blockquote>
										<p>市场营销资深管理人、市场营销学培训师、市场营销资深策划人</p>
									</blockquote>
								</div>
							</div>
							<!-- 运营总监 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-lv.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司运营总监&nbsp;<a href="JavaScript:;" class="twitter">吕凯</a></span>
									<blockquote>
										<p>市场营销资深管理人、市场营销学培训师、金融分析师</p>
									</blockquote>
								</div>
							</div>
							<!-- 人力资源总监 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-x.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司人力资源总监&nbsp;<a href="JavaScript:;" class="twitter">谢挥</a></span>
									<blockquote>
										<p>国家三级心理咨询师、国家二级人力资源管理师、系统排列师</p>
									</blockquote>
								</div>
							</div>
							<!-- 会议总监 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-z.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司会议总监&nbsp;<a href="JavaScript:;" class="twitter">赵向彬</a></span>
									<blockquote>
										<p>会议营销管理人、会议营销策划师、会议营销人员培训师</p>
									</blockquote>
								</div>
							</div>
							<!-- 技术总监 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-j.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司技术总监&nbsp;<a href="JavaScript:;" class="twitter">琚治瑾</a></span>
									<blockquote>
										<p>软件开发工程师、高级数据库管理工程师</p>
									</blockquote>
								</div>
							</div>
							<!-- 财务总监 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-lj.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司财务总监&nbsp;<a href="JavaScript:;" class="twitter">李景月</a></span>
									<blockquote>
										<p>国家高级会计师、中级审计</p>
									</blockquote>
								</div>
							</div>
							<!-- 市场总监 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-q.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司市场总监&nbsp;<a href="JavaScript:;" class="twitter">乔恩义</a></span>
									<blockquote>
										<p>市场营销资深管理人、高级讲师</p>
									</blockquote>
								</div>
							</div>
							<!--法律顾问-->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/WZ.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司法律顾问&nbsp;<a href="JavaScript:;" class="twitter">王喆</a></span>
									<blockquote>
										<p>亚洲盈科律师事务所合伙人、资本市场法律事务部主任、盈科全国“国际法律事务领域”优秀律师、全国公司债券十大典型非诉讼律师</p>
									</blockquote>
								</div>
							</div>
							<!-- 国学顾问 -->
							<div class="item">
								<div class="testimony-slide active text-center">
									<figure>
										<img src="/Public/images/leader-w.png" alt="user">
									</figure>
									<div></div>
									<span class="ft14">卧龙腾飞实业有限公司国学顾问&nbsp;<a href="JavaScript:;" class="twitter">问天</a></span>
									<blockquote>
										<p>三合派第二十七代掌门人</p>
									</blockquote>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id="fh5co-project" >
    <div class="container-fluid proj-bottom">
        <div class="row">
            <div class="fh5co-project animate-box change_ds" data-animate-effect="fadeIn">
                <a href="#"><img src="/Public/images/project-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                 class="img-responsive">
                    <h3>策划部</h3>
                    <span>策划于谋略</span>
                </a>
            </div>
            <div class="fh5co-project animate-box change_ds" data-animate-effect="fadeIn">
                <a href="#"><img src="/Public/images/project-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                 class="img-responsive">
                    <h3>商务部</h3>
                    <span>外贸于沟通</span>
                </a>
                <p>中心是由河南省卧龙腾飞实业有限公司联合河南宛商促进会搭建并运营的面向全国中小企业的综合型服务平台。基于互联网虚拟网络服务中心和覆盖全国各地的分中心合作体系，中心全面系统地整合了“一带一路”沿线国家和地区最新政经形势、投资环境、投资指南、项目机会、贸易与投资、风险评估，为平台企业“走出去”提供了一个平台，并引导鼓励企业积极参与到境外基础设施建设和国际产能合作中，支持企业“抱团出海”，提升企业整体竞争力，并运用国际合作网络和互联网技术，协助企业拓宽战略空间及信息、项目和融资渠道，最终使中心在“一带一路”建设中发挥更大作用。</p>
            </div>
            <div class="fh5co-project animate-box change_ds" data-animate-effect="fadeIn">
                <a href="#"><img src="/Public/images/project-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                 class="img-responsive">
                    <h3>行政部</h3>
                    <span>协调于辅助</span>
                </a>
                <p>行政部的工作，像鹰，需要在更高、更远的地方，来看整个公司系统里的部门与人。看部门间的流程是否与公司系统相合谐与流畅，公司里每个小伙伴的能力与位置是否相一致？是否需要多一些的机会？暂时性的某方面能力欠缺需要那些培训与历炼？<br>
                鹰的视力很好，视野很宽广，行政部需要锐利的眼睛去找寻千里马，更需要温和、宽容、友善的心胸，发现并带着深沉的爱，去看待着每个人的优、缺点。<br>
                行政部认为，每个人都是成年人，需要不同的洗礼，不管用何种方式，行政部都愿意充当各种角色，去促使小伙伴们获得更高的成就。
                公司的系统，需要各个部门、每一位小伙伴的共同努力。唯有系统内的每一部分都强大的，才可更好的支撑起公司这个大系统，走向更美好的未来。<br>
                我们在成长，公司在壮大，美好的未来，就在奋进的过程当中，一点点的实现。</p>
            </div>
            <div class="fh5co-project animate-box change_ds" data-animate-effect="fadeIn">
                <a href="#"><img src="/Public/images/project-9.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                 class="img-responsive">
                    <h3>会务部</h3>
                    <span>交流于宣传</span>
                </a>
                <p>会务组下设、音控组、摄制组、讲师、主持人、策划组、礼仪组、接待组、后勤筹备组。为公司各个部门的会议活动工作做好服务工作。通过我组员工精心策划、筹备、布局、排练等幕后工作将我公司各部门所要表达的意愿展现给大家。并且会务组也承办会议营销的策划与销售，为合作企业的产品推广和优质材料的采购提供帮助。使更多的企业通过这种方式扩宽自己的市场空间。</p>
            </div>
            <div class="fh5co-project animate-box change_ds" data-animate-effect="fadeIn">
                <a href="#"><img src="/Public/images/project-5.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                 class="img-responsive">
                    <h3>事业部</h3>
                    <span>执行于发现</span>
                </a>
                <p>作为南京兔尔宝文化传媒公司卧龙腾飞兔尔宝华中运营中心，事业部包括培训讲师和市场经理，在事业部负责人的带领下负责华中区兔尔宝各市场团队的管理和市场的管理，旨在保障市场业绩的稳健提升和团队间和谐发展，及时了解市场的反馈并解决问题做到总部和华中运营中心政策的传达与执行，建立高效的各市场开发体系，各团队的团队文化和服务中心网点的建立，紧跟卧龙腾飞实业有限公司的发展方向和经营策略，做强做大卧龙腾飞事业和品牌影响力.</p>
            </div>
            <div class="fh5co-project animate-box change_ds" data-animate-effect="fadeIn">
                <a href="#"><img src="/Public/images/project-6.jpg" alt="Free HTML5 Website Template by FreeHTML5.co"
                                 class="img-responsive">
                    <h3>技术部</h3>
                    <span>技术于开发</span>
                </a>
                <p>技术部对公司网页进行维护与更新工作，不断提高网页技术含量，做好版面编排，做好网上宣传工作。配合各部门搞好各项网上宣传工作以及提供相关技术支持。</p>
            </div>
        </div>
    </div>
</div>
<div class="ds y" style="position: absolute;top: 0;left: 0;width: 100%;z-index: 9999;">
    <button class="glyphicon glyphicon-th-list anniu" style="padding: 5px;"></button>
    <div class="xs" id="fade" style="width: 80px;">
     <ul class="ej-nav" style="line-height: 30px;">
            <li>
                <a href="/home/index/index.html" style="color: #fff;">首页</a>
            </li>
            <li>
                <a href="/index.php/home/introduce/index.html" style="color: #fff;">集团介绍</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">公司产业</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="#">智能科技</a></li>
                  <li><a href="#">中医药基地</a></li>
                  <li><a href="#">兔尔宝娱乐</a></li>
                  <li><a href="#">尚惠商城</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/news/index.html" style="color: #fff;">新闻中心</a>
                <ul class="dropdown" aria-labelledby="dropdownMenuDivider" style="display: none;">
                    <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                    <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                    <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                    <hr/>
                    <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                </ul>
            </li>
           <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">企业文化</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                  <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                  <li><a href="{:U('home/company/video')}">企业视频</a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/careers/index.html" style="color: #fff;">人才招聘</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/partner/index.html" style="color: #fff;">合作单位</a>
                <ul class="dropdown"  style="min-width:250px;display: none;">
                    <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                    <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/call/call.html" style="color: #fff;">联系我们</a>
            </li>
        </ul>
  </div>
  </div>
<block name="include"><include file="default:public/footer"/></block>

  <script>
    var i=0;
    $(".anniu").click(function(){
      if(i === 0) {
        $("#fade").show(1000);
        i++;
      }else{
        $("#fade").hide(1000);
        i--;
      }
  })
</script>
<script>
    var oUl = $('.menu-1').children('ul'),
        aLi = oUl.children('li');
    aLi.eq(1).addClass('active').siblings().removeClass('active');
</script>






