<!DOCTYPE HTML>
<title>卧龙腾飞-企业文化</title>
<style>
.xs{
  display: none;
    background:rgba(0,0,0,.5);
    overflow: hidden;
}
</style>
<block name="include">
    <include file="default:public/header"/>
</block>

<div class="fh5co-loader"></div>
<div>
    <block name="include">
        <include file="default:public/nav"/>
    </block>
</div>
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm header_h" role="banner"
        style="background-image:url(/Public/images/banner/qywh.jpg);" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="display-t col-xs-12">
                <div class="display-tc animate-box" data-animate-effect="fadeIn">
                    <h1 class="text-center">卧龙腾飞企业文化</h1>
                    <h2 class="text-left text_i2"><span class="text_red">河南省卧龙腾飞实业有限公司</span>是一家服务型管理集团，是一个大的合作共赢体系，其核心在于经营的一带一路国际贸易服务中心，前期依靠兔尔宝娱乐布局全国市场，建立全国连锁运营雏形；公司授权合作企业江苏兔尔宝文化发展有限公司；目前以独立运营河南省一带一路国际贸易服务中心、卧龙腾飞装饰公司、中铁国际多式联运有限公司南阳授权服务机构；预准运营南阳市大学生实训基地、卧龙腾飞休闲旅游、卧龙腾飞中医药产业园、卧龙腾飞超市等。集团战略定位于国内生产销售企业资源整合，打通合作企业间的合作壁障，并积极布局海外战略，依托南阳跨境电商产业园和中国海关南阳综合保税区，旨在建立企业与国际客商的沟通桥梁。在企业发展的过程中得到了区域内领导的高度重视，在项目落地的进程中，给予了大力支持，使得河南省卧龙腾飞实业有限公司能够更稳的扎根南阳，服务社会，形成了一家集国际贸易、游戏娱乐、高新科技，健康产业、培训教育、休闲旅游、装饰设计、极速物流、商超商业综合体等九大产业为一体的综合性集团化公司。</h2>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="fh5co-explore">
    <div class="container">
        <div class="row animate-box">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                <h2>关于我们</h2>
                <p>河南省卧龙腾飞实业发展有限公司位于南阳市卧龙区电子商务产业园12号楼，紧临卧龙区综合保税区，是一家集游戏娱乐、健康产业、培训教育、购物中心、极速物流、信用金融等六大产业为一体的综合性集团化公司。
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12 photolist" id="content">
      <h1>内部拓展</h1>
      <hr/>
      <ul>
        <li>
            <a href=" " class="col-xs-3">
                <img id="change" src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>7.19目标训练</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>7.20户外</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>7.31月度总结大会</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
        <li>
            <a href="#" class="col-xs-3">
                <img src="/Public/images/NYEJSYZBJTGFYXGS.png" style="width: 200px;height: 200px;">
                <p>标题</p>
            </a>
        </li>
    </ul>
</div>
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
  </ul>
<div class="ds y" style="position: absolute;top: 0;left: 0;width: 100%;z-index: 9999;">
        <button class="glyphicon glyphicon-th-list anniu" style="padding: 5px;"></button>
        <div class="xs" id="fade" style="width: 80px;">
         <ul class="ej-nav" style="line-height: 30px;">
            <li>
                <a href="/index.php/home/index/index.html" style="color: #fff;">首页</a>
            </li>
            <li>
                <a href="/index.php/home/introduce/index.html" style="color: #fff;">集团介绍</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">公司产业</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="#">智能科技</a></li>
                  <li><a href="#">中医药基地</a></li>
                  <li><a href="#">兔尔宝娱乐</a></li>
                  <li><a href="#">尚惠商城</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/news/index.html" style="color: #fff;">新闻中心</a>
                <ul class="dropdown" aria-labelledby="dropdownMenuDivider" style="display: none;">
                    <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                    <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                    <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                    <hr/>
                    <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                </ul>
            </li>
           <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">企业文化</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                  <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                  <li><a href="{:U('home/company/video')}">企业视频</a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/careers/index.html" style="color: #fff;">人才招聘</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/partner/index.html" style="color: #fff;">合作单位</a>
                <ul class="dropdown"  style="min-width:250px;display: none;">
                    <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                    <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/call/call.html" style="color: #fff;">联系我们</a>
            </li>
        </ul>
    </div>
    </div>
<block name="include"><include file="default:public/footer"/></block>
    <script>
    var i=0;
    $(".anniu").click(function(){
        if(i === 0) {
            $("#fade").show(1000);
            i++;
        }else{
            $("#fade").hide(1000);
            i--;
        }
  })
</script>
<script>
    var oUl = $('.menu-1').children('ul'),
        aLi = oUl.children('li');
    aLi.eq(4).addClass('active').siblings().removeClass('active');
</script>
