<title>卧龙腾飞--合作伙伴</title>
<!--head-->
<block name="include">
    <include file="default:public/header"/>
</block>
<body>
<!-- 顶部 -->
<block name="include">
    <include file="default:public/head"/>
</block>
<!--导航-->
<block name="include">
    <include file="default:public/nav"/>
</block>
<div id="wrap">
    <!-- 企业合作协议 -->
    <h1 class="text-center ft20 text-info wow fadeInRight" data-wow-delay="0.2s">企业合作协议</h1>
    <div class="con-box wow fadeInLeft" data-wow-delay="0.2s">
        <div class="con-box1">
            <ul class="clearfix">
                <li><a href="javascript:void(0)"><img src="/wolong/Public/images/i1.jpg"></a></li>
                <li><a href="javascript:void(0)"><img src="/wolong/Public/images/i2.jpg"></a></li>
                <li><a href="javascript:void(0)"><img src="/wolong/Public/images/i3.jpg"></a></li>
                <li><a href="javascript:void(0)"><img src="/wolong/Public/images/i4.jpg"></a></li>
                <li><a href="javascript:void(0)"><img src="/wolong/Public/images/i5.jpg"></a></li>
            </ul>
        </div>
        <div class="pn">
            <a class="prev" href="javascript:void(0)"><img src="/wolong/Public/images/prev.png"></a>
            <a class="next" href="javascript:void(0)"><img src="/wolong/Public/images/next.png"></a>
        </div>
    </div>
    <!-- 合作企业 -->
    <div class="ourPartner-box">
        <div class="ourPartner">
            <h1 class="text-center ft20 text-info wow fadeIn" data-wow-delay="0.2s">合作企业</h1>
            <volist name="partners" id="vo">
                <div class="op-box wow fadeInUp" data-wow-delay="0.1s">
                    <div class="row">
                        <div class="col-sm-8 col-xs-12">
                            <h2 class="ft18"><a class="text-danger" href="{$vo.url}">{$vo.name}<small>（点击进入）</small></a></h2>
                            <p>{$vo.introduction}</p>
                            <b>合作内容</b>
                            <p>{$vo.cooperation}</p>
                        </div>
                        <div class="col-sm-4 hidden-xs">
                            <a href="http://www.ejpetro.com"><img src="{$vo.image}"></a>
                        </div>
                    </div>
                </div>
            </volist>
        </div>
        <!-- 分页 -->
        <div class="pagination-box">
            <ul class="pagination">
                <li><a href="javascript:void(0)">&laquo;</a></li>
                <li><a href="javascript:void(0)">1</a></li>
                <li><a href="javascript:void(0)">2</a></li>
                <li><a href="javascript:void(0)">3</a></li>
                <li><a href="javascript:void(0)">......</a></li>
                <li><a href="javascript:void(0)">5</a></li>
                <li><a href="javascript:void(0)">6</a></li>
                <li><a href="javascript:void(0)">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- 大图预览 -->
    <div class="big-show-box dis">
        <button class="btn btn-danger btn-lg gb pull-right">X</button>
        <div class="big-show">
            <ul>
                <li class="dis"><a href="javascript:void(0)"><img src="/wolong/Public/images/i1.jpg"></a></li>
                <li class="dis"><a href="javascript:void(0)"><img src="/wolong/Public/images/i2.jpg"></a></li>
                <li class="dis"><a href="javascript:void(0)"><img src="/wolong/Public/images/i3.jpg"></a></li>
                <li class="dis"><a href="javascript:void(0)"><img src="/wolong/Public/images/i4.jpg"></a></li>
                <li class="dis"><a href="javascript:void(0)"><img src="/wolong/Public/images/i5.jpg"></a></li>
            </ul>
        </div>
        <div class="pn1">
            <a class="prev1" href="javascript:void(0)"><img src="/wolong/Public/images/prev.png"></a>
            <a class="next1" href="javascript:void(0)"><img src="/wolong/Public/images/next.png"></a>
        </div>
    </div>
</div>
<block name="include">
    <include file="default:public/footer"/>
</block>
<script>
    new WOW().init();
</script>
</body>
</html>