<title>卧龙腾飞--分支机构</title>
<!--head-->
<block name="include">
    <include file="default:public/header"/>
</block>
<body>
<!-- 顶部 -->
<block name="include">
    <include file="default:public/head"/>
</block>
<!--导航-->
<block name="include">
    <include file="default:public/nav"/>
</block>
<div id="wrap">
    <!-- 合作机构 -->
    <div class="our-machanism-box">
        <form action="#" method="post" class="macha-form clearfix">
            <div class="pull-left">
                <label for="sort">排序：</label>
                <select name="sort" id="sort">
                    <option value="1">按名称</option>
                    <option value="2">按姓名</option>
                </select>
                <button class="btn btn-primary btn-sm sure">确定</button>
            </div>
            <div class="pull-right text-right">
                <input type="text" name="search" class="search" placeholder="请输入名称或者关键字">
                <button class="btn btn-success search1 btn-sm">搜索</button>
            </div>
        </form>
        <!-- 线条 -->
        <div class="line">
            <img src="/wltf/Public/images/line.png" width="100%" />
        </div>
        <!-- 办事处 -->
        <div class="con-section">
            <div class="section1">
                <h1 class="ft16">安徽合肥办事处<span class="pull-right rotate"></span></h1>
                <div class="section-nr">
                    <div class="clearfix">
                        <div class="col-xs-8 secnr-top">
                            <ul>
                                <li>
                                    <img src="/wltf/Public/images/i1.jpg" >
                                    <span><b>负责人：Michael</b></span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <span>地址：安徽省合肥市</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    <span>联系电话：12345678911</span>
                                </li>
                            </ul>
                            <!-- 查看 -->
                            <div class="login">
                                <a href="#"><button class="btn">查看</button></a>
                                <a href="#"><button class="btn">登陆</button></a>
                            </div>
                        </div>
                        <div class="col-xs-4 secnr-bottom">
                            <a href="#"><img src="/wltf/Public/images/i1.jpg" class="img-rounded" width="100%" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section1">
                <h1 class="ft16">安徽合肥办事处<span class="pull-right"></span></h1>
                <div class="section-nr dis">
                    <div class="clearfix">
                        <div class="col-xs-8 secnr-top">
                            <ul>
                                <li>
                                    <img src="/wltf/Public/images/i1.jpg" >
                                    <span><b>负责人：Michael</b></span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <span>地址：安徽省合肥市</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    <span>联系电话：12345678911</span>
                                </li>
                            </ul>
                            <!-- 查看 -->
                            <div class="login">
                                <a href="#"><button class="btn">查看</button></a>
                                <a href="#"><button class="btn">登陆</button></a>
                            </div>
                        </div>
                        <div class="col-xs-4 secnr-bottom">
                            <a href="#"><img src="/wltf/Public/images/i1.jpg" class="img-rounded" width="100%" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section1">
                <h1 class="ft16">安徽合肥办事处<span class="pull-right"></span></h1>
                <div class="section-nr dis">
                    <div class="clearfix">
                        <div class="col-xs-8 secnr-top">
                            <ul>
                                <li>
                                    <img src="/wltf/Public/images/i1.jpg" >
                                    <span><b>负责人：Michael</b></span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <span>地址：安徽省合肥市</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    <span>联系电话：12345678911</span>
                                </li>
                            </ul>
                            <!-- 查看 -->
                            <div class="login">
                                <a href="#"><button class="btn">查看</button></a>
                                <a href="#"><button class="btn">登陆</button></a>
                            </div>
                        </div>
                        <div class="col-xs-4 secnr-bottom">
                            <a href="#"><img src="/wltf/Public/images/i1.jpg" class="img-rounded" width="100%" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section1">
                <h1 class="ft16">安徽合肥办事处<span class="pull-right"></span></h1>
                <div class="section-nr dis">
                    <div class="clearfix">
                        <div class="col-xs-8 secnr-top">
                            <ul>
                                <li>
                                    <img src="/wltf/Public/images/i1.jpg" >
                                    <span><b>负责人：Michael</b></span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <span>地址：安徽省合肥市</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    <span>联系电话：12345678911</span>
                                </li>
                            </ul>
                            <!-- 查看 -->
                            <div class="login">
                                <a href="#"><button class="btn">查看</button></a>
                                <a href="#"><button class="btn">登陆</button></a>
                            </div>
                        </div>
                        <div class="col-xs-4 secnr-bottom">
                            <a href="#"><img src="/wltf/Public/images/i1.jpg" class="img-rounded" width="100%" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section1">
                <h1 class="ft16">安徽合肥办事处<span class="pull-right"></span></h1>
                <div class="section-nr dis">
                    <div class="clearfix">
                        <div class="col-xs-8 secnr-top">
                            <ul>
                                <li>
                                    <img src="/wltf/Public/images/i1.jpg" >
                                    <span><b>负责人：Michael</b></span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    <span>地址：安徽省合肥市</span>
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-earphone"></i>
                                    <span>联系电话：12345678911</span>
                                </li>
                            </ul>
                            <!-- 查看 -->
                            <div class="login">
                                <a href="#"><button class="btn">查看</button></a>
                                <a href="#"><button class="btn">登陆</button></a>
                            </div>
                        </div>
                        <div class="col-xs-4 secnr-bottom">
                            <a href="#"><img src="/wltf/Public/images/i1.jpg" class="img-rounded" width="100%" /></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 分页 -->
            <div class="pagination-box text-center">
                <ul class="pagination">
                    <li><a href="javascript:void(0)">&laquo;</a></li>
                    <li><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">......</a></li>
                    <li><a href="javascript:void(0)">5</a></li>
                    <li><a href="javascript:void(0)">6</a></li>
                    <li><a href="javascript:void(0)">&raquo;</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<block name="include">
    <include file="default:public/footer"/>
</block>
<script>
    new WOW().init();
</script>
</body>
</html>