<!DOCTYPE HTML>
<title>卧龙腾飞-产业介绍</title>
<style type="text/css">
  .xs{
  display: none;
    background:rgba(0,0,0,.5);
    overflow: hidden;
}
</style>
<block name="include">
	<include file="default:public/header"/>
</block>

<div class="fh5co-loader"></div>
<div>
	<block name="include">
		<include file="default:public/nav"/>
	</block>
</div>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(/Public/images/banner/gscy.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1 class="animate-box" data-animate-effect="fadeInLeft">卧龙腾飞产业介绍</h1>
							<!--<h2>“关于产业介绍的标语” <a href="http://freehtml5.co" target="_blank">这里是一个链接</a></h2>-->
                            <p class="animate-box change-cl" data-animate-effect="fadeInRight">
                                中心是由河南省卧龙腾飞实业有限公司联合河南宛商促进会搭建并运营的面向全国中小企业的综合性服务平台。基于互联网虚拟网络服务中心和覆盖全国各地的分中心合作体系，中心全面系统地整合了“一带一路”沿线国家和地区最新政经形势、投资环境、投资指南、项目机会、贸易与投资、风险评估，为平台企业“走出去”提供了一个平台，并引导鼓励企业积极参与到境外基础设施建设和国际产能合作中，支持企业“抱团出海”，提升企业整体竞争力，并运用国际合作网络和互联网技术，协助企业拓宽战略空间及信息、项目和融资渠道，最终使中心在“一带一路”建设中发挥更大作用。
                            </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-pricing">
		<div class="container">
			<div class="row">
				<div class="pricing">
					<div class="col-md-4 col-xs-12 animate-box">
						<div class="price-box" style="background-color: orange;">
							<h2 class="pricing-plan pricing-plan-offer">Turboet</h2>
							<!--<div class="price"><sup class="currency">$</sup>9<small>/month</small></div>-->
							<div class="price">
								<img style="width:50%;height: 50%;border-radius: 10px" src="/Public/images/turboet.png">
								<p>兔儿宝娱乐</p>
							</div>
							<ul class="classes">
								<li>15 English 101</li>
								<li class="color">10 Web Development</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Virtual Assistant</li>
								<li>10 System Analyst</li>
								<li class="color">5 WordPress</li>
								<li>10 Programming</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-4 col-xs-12 animate-box">
						<div class="price-box" style="background: url(/Public/images/BAR-bg.jpg);background-size:100% 100%;">
							<h2 class="pricing-plan pricing-plan-offer">The Belt and Road</h2>
							<div class="price">
								<img style="width:50%;height:50%;border-radius: 10px" src="/Public/images/bar-logo.jpg">
								<p>一带一路服务中心</p>
							</div>
							<ul class="classes">
								<li>15 English 101</li>
								<li class="color">10 Web Development</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Virtual Assistant</li>
								<li>10 System Analyst</li>
								<li class="color">5 WordPress</li>
								<li>10 Programming</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-4 col-xs-12 animate-box">
						<div class="price-box popular" style="background: url(/Public/images/ZYY-bg.jpg);background-size:100% 100%;">
							<h2 class="pricing-plan pricing-plan-offer">Medicine</h2>
							<div class="price">
								<img style="width:50%;height:50%;border-radius: 10px" src="/Public/images/ZYY-logo.jpg">
								<p>中医药养生咨询</p>
							</div>
							<ul class="classes">
								<li>15 English 101</li>
								<li class="color">10 Web Development</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Virtual Assistant</li>
								<li>10 System Analyst</li>
								<li class="color">5 WordPress</li>
								<li>10 Programming</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-4 col-xs-12 animate-box">
						<div class="price-box" style="background: url(/Public/images/science-bg.jpg);background-size:100% 100%;">
							<h2 class="pricing-plan pricing-plan-offer">Science</h2>
							<div class="price">
								<img style="width:50%;height:50%;border-radius: 10px" src="/Public/images/science-logo.jpg">
								<p>智能科技</p>
							</div>
							<ul class="classes">
								<li>15 English 101</li>
								<li class="color">10 Web Development</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Virtual Assistant</li>
								<li>10 System Analyst</li>
								<li class="color">5 WordPress</li>
								<li>10 Programming</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>

					<div class="col-md-4 col-xs-12 animate-box">
						<div class="price-box" style="background: url(/Public/images/science-bg.jpg);background-size:100% 100%;">
							<h2 class="pricing-plan pricing-plan-offer">Science</h2>
							<div class="price">
								<img style="width:50%;height:50%;border-radius: 10px" src="/Public/images/science-logo.jpg">
								<p>超市/餐饮/酒店</p>
							</div>
							<ul class="classes">
								<li>15 English 101</li>
								<li class="color">10 Web Development</li>
								<li>10 Yoga Classes</li>
								<li class="color">20 Virtual Assistant</li>
								<li>10 System Analyst</li>
								<li class="color">5 WordPress</li>
								<li>10 Programming</li>
							</ul>
							<a href="#" class="btn btn-select-plan btn-sm">Select Plan</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
<div class="ds y" style="position: absolute;top: 0;left: 0;width: 100%;z-index: 9999;">
    <button class="glyphicon glyphicon-th-list anniu" style="padding: 5px;"></button>
    <div class="xs" id="fade" style="width: 80px;">
     <ul class="ej-nav" style="line-height: 30px;">
            <li>
                <a href="/index.php/home/index/index.html" style="color: #fff;">首页</a>
            </li>
            <li>
                <a href="/index.php/home/introduce/index.html" style="color: #fff;">集团介绍</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">公司产业</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="#">智能科技</a></li>
                  <li><a href="#">中医药基地</a></li>
                  <li><a href="#">兔尔宝娱乐</a></li>
                  <li><a href="#">尚惠商城</a></li>
                </ul>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/news/index.html" style="color: #fff;">新闻中心</a>
                <ul class="dropdown" aria-labelledby="dropdownMenuDivider" style="display: none;"> 
                    <li><a href="http://www.ntdaily.com.cn/2017/qiye_0524/14955890107198.html">苏南网</a></li>
                    <li><a href="http://www.citure.net/info/2017524/201752494912.shtml">中国城市文化网</a></li>
                    <li><a href="http://fz.comnews.cn/yangquan/2017/4_0524/19103.html">中国商务新闻网</a></li>
                    <hr/>
                    <li><a href="{:U('home/news/companyinformation')}">更多企业信息>></a></li>
                </ul>
            </li>
           <li class="has-dropdown">
                <a href="/index.php/home/industry/index.html" style="color: #fff;">企业文化</a>
                <ul class="dropdown" style="display: none;">
                  <li><a href="{:U('home/company/corporatestyle')}">企业风采</a></li>
                  <li><a href="{:U('home/index/download_courseware')}">企业课件</a></li>
                  <li><a href="{:U('home/company/video')}">企业视频</a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/careers/index.html" style="color: #fff;">人才招聘</a>
            </li>
            <li class="has-dropdown">
                <a href="/index.php/home/partner/index.html" style="color: #fff;">合作单位</a>
                <ul class="dropdown"  style="min-width:250px;display: none;">
                    <li><a href="http://www.turboet.com/" target="_blank">江苏兔尔宝文化发展有限公司</a></li>
                    <li><a href="http://www.sh-life.com" target="_blank">安徽尚惠生活商业运营管理有限公司 </a></li>
                </ul>
            </li>
            <li>
                <a href="/index.php/home/call/call.html" style="color: #fff;">联系我们</a>
            </li>
        </ul>
  </div>
  </div>
<block name="include"><include file="default:public/footer"/></block>

  <script>
    var i=0;
    $(".anniu").click(function(){
      if(i === 0) {
        $("#fade").show(1000);
        i++;
      }else{
        $("#fade").hide(1000);
        i--;
      }
  })
</script>
<script>
    var oUl = $('.menu-1').children('ul'),
        aLi = oUl.children('li');
    aLi.eq(2).addClass('active').siblings().removeClass('active');
</script>